<div class="py-6 w-9/12 mx-auto">
    <div class="flex flex-row">
        <h2 class="text-xl block my-5 font-bold ft-primary">Contacto</h2>
    </div>
    
    <div class="flex flex-row justify-between py-3 ft-secondary text-xl gap-4">
        <div class="flex gap-4">
            <span [innerText]="'vonguzmang@gmail.com'"></span>
            <button>
                <img class="w-5" src="../../../assets/icons/icons8-copy-64.png" alt="" 
                (click)="copy('vonguzmang@gmail.com')">
            </button>
        </div>

        <div class="flex gap-4">
            <span>+52 449 1261271</span>
            <button>
                <img class="w-5" src="../../../assets/icons/icons8-copy-64.png" alt="" 
                (click)="copy('+524491261271')">
            </button>
        </div>
    
    
        <a href="https://www.linkedin.com/in/luis-fernando-guzman-garcia" target="_blank">
            LinkedIn
        </a>

        <a href="https://github.com/lutlevon" target="_blank">
            Github
        </a>


    </div>
</div>
