<div class="flex flex-col my-5">
    <h2 class="text-4xl block my-5 font-bold ft-primary">work expirience</h2>
        
    @for ( work of works; track work.companyName) {
        <div class="flex flex-row  my-8">
            <div class="basis-2/6 text-xl ft-tertiary">{{ work.dates }}</div>
            <div class="basis-4/6 flex flex-col">
                <h3 class="font-bold text-2xl mb-3 ft-primary">{{ work.companyName }}</h3>
                <ul class="list-disc">
                    @for( item of work.descriptions; track item){
                        <li class="ms-6 text-xl ft-secondary">
                            {{ item }}
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
