.selected {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}   

.nav-item {
    cursor: pointer;
}
.nav-item:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
nav{
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #171718;
    color:white;
    font-weight: bold;
}

.ft-primary{
    color: rgb(231, 231, 231);
}

.ft-secondary{
    color: #9fa3a9;
}

.ft-tertiary{
    color: #6a6e73;
}