<nav class="flex flex-row h-12 w-full text-xl">
    <a class="nav-item border-r-4 border-l-4 rounded-sm basis-1/3 flex justify-center items-center" 
    [routerLink]="'home/about'"
    [routerLinkActive]="'selected'">
        Acerca de mí
    </a>
    <a class="nav-item rounded-sm basis-1/3 flex justify-center items-center" 
    [routerLink]="'home/work-experience'"
    [routerLinkActive]="'selected'">
        Experiencia laboral
    </a>
    <a class="nav-item rounded-sm  border-r-4 border-l-4 basis-1/3 flex justify-center items-center"
    [routerLink]="'home/contact'"
    [routerLinkActive]="'selected'">
        Contacto
    </a>
</nav>