<div class="flex flex-col my-5">
    <h2 class="text-2xl block my-5 font-bold">Acerca de mí</h2>
    <p>
        Soy un desarrollador fullstack con un enfoque principal en el frontend, entusiasta de optimizar el rendimiento de 
        las aplicaciones y perfeccionar la calidad de mi código. Mi objetivo es crear proyectos que no solo sean eficientes,
        sino también fácilmente comprensibles y legibles para otros programadores. Me interesa profundizar en la arquitectura 
        de software, reconociendo que la elección adecuada de herramientas puede llevar a proyectos más organizados y eficientes,
        especialmente considerando el tamaño del proyecto. En mis momentos libres, disfruto de actividades como hacer ejercicio, 
        ver series o películas, escuchar música y explorar nuevos conocimientos.
    </p>
    <h3 class="text-lg font-bold my-6">Principales tecnologias</h3>
    <div class="flex flex-row items-center w-100 p-3 border-2 rounded">
        <div class="basis-1/5 flex flex-row justify-center">
            <img class="max-w-16" src="../../../assets/img/angular_logo.png" alt="">
        </div>
        <div class="basis-1/5 flex flex-row justify-center">
            <img class="max-w-16" src="../../../assets/img/nodejs_logo.png" alt="">
        </div>
        <div class="basis-1/5 flex flex-row justify-center">
            <img class="max-w-16" src="../../../assets/img/JavaScript_logo.png" alt="">
        </div>
        <div class="basis-1/5 flex flex-row justify-center">
            <img class="max-w-16" src="../../../assets/img/Typescript_logo.png" alt="">
        </div>
        <div class="basis-1/5 flex flex-row justify-center">
            <img class="max-w-16" src="../../../assets/img/git_logo.png" alt="">
        </div>
    </div>

    <h3 class="text-lg mt-10 mb-8 font-bold">Estudios</h3>
    <div class="flex flex-row items-center">
        <img src="../../../assets/img/uaa.svg" class="max-w-14 me-4" alt="">
        <p>Ingenieria en sistemas computacionales - Universidad Autonoma de Aguascalientes</p>
    </div>
    <p class="mt-5 text-lg">2016 - 2020</p>

    <h3 class="text-lg mt-6 font-bold">Idiomas</h3>
    <ul class="list-disc">
        <li class="ms-6">Español - nativo</li>
        <li class="ms-6">Ingles - intermedio</li>
    </ul>
</div>