<div class="flex flex-col  my-5">
    <h2 class="text-2xl block my-5 font-bold">About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maiores sint accusantium iure aliquam eos, earum laborum! Optio, sint id ducimus voluptates corporis libero quis, tempora doloribus, magni in quam!
    Labore porro voluptate voluptas animi iure minima ab. Est magni optio doloremque architecto tempora suscipit dolor dolore molestias blanditiis quaerat nesciunt itaque eligendi aut, veritatis delectus id quia quam unde?</p>
</div>