<div class="flex flex-col gap-14">
    <div class="flex flex-row my-5">
        <div class="header-img flex me-5">
            <img class="max-h-40 header-img" src="../../../assets/img/pixel-von.jpeg" alt="">
        </div>
        <div class="flex flex-col justify-center">            
            <h1 class="text-4xl font-bold ft-primary">
                Luis Fernando Guzmán García
            </h1>
            <span class="text-2xl ft-secondary">Desarrollador Fullstack</span>
        </div>
    </div>

    <section>
        <h3 class="text-3xl mb-5 font-bold ft-primary">Acerca de mí</h3>
        <p class="text-xl ft-secondary">
            Soy un desarrollador fullstack con un enfoque principal en el frontend, entusiasta de optimizar el rendimiento de 
            las aplicaciones y perfeccionar la calidad de mi código. Mi objetivo es crear proyectos que no solo sean eficientes,
            sino también fácilmente comprensibles y legibles para otros programadores. Me interesa profundizar en la arquitectura 
            de software, reconociendo que la elección adecuada de herramientas puede llevar a proyectos más organizados y eficientes,
            especialmente considerando el tamaño del proyecto. En mis momentos libres, disfruto de actividades como hacer ejercicio, 
            ver series o películas, escuchar música y explorar nuevos conocimientos.
        </p>
    </section>

    <h3 class="text-2xl font-bold ft-primary">Principales tecnologias</h3>
    <div class="flex flex-row p-3 w-full justify-evenly">
        <div class="basis-1/2">
            <img class="max-w-44 cursor-pointer" src="../../../assets/img/angular_logo.png" alt="">
            <div>
                <p>
                    Más de tres años de experiencia con esta tecnologia, trabajando con ella en
                    proyectos tanto pequeños como a una escala mayor. 
                </p>
            </div>
        </div>
        <div class="basis-1/2">
            <img class="max-w-44" src="../../../assets/img/nodejs_logo.png" alt="">
            <div>
                <p>
                    Más de tres años de experiencia con esta tecnologia, trabajando con ella en
                    proyectos tanto pequeños como a una escala mayor. 
                </p>
            </div>
        </div>
<!-- 
        <div class="">
            <img class="max-w-44" src="../../../assets/img/git_logo.png" alt="">
        </div> -->
    </div>

    <h3 class="text-2xl font-bold ft-primary">Principales lenguajes</h3>
    <div class="flex flex-row ft-secondary justify-evenly">
        <div class="">
            <img class="max-w-32" src="../../../assets/img/JavaScript_logo.png" alt="">
        </div>
        <div class="">
            <img class="max-w-32" src="../../../assets/img/Typescript_logo.png" alt="">
        </div>

        <div class="">
            <img class="max-w-32" src="../../../assets/img/html_logo.png" alt="">
        </div>
        <div class="">
            <img class="max-w-32" src="../../../assets/img/css_logo.png" alt="">
        </div>

        <div class="">
            <img class="max-w-32" src="../../../assets/img/Go-logo.png" alt="">
        </div>
    </div>


    <h3 class="text-2xl font-bold ft-primary">Otras tecnologias</h3>
    <div class="flex flex-row ft-secondary justify-evenly">
        <div class="my-auto">
            <img class="max-w-24" src="../../../assets/img/git_logo.png" alt="">
        </div>
        <div class="my-auto">
            <img class="max-w-24" src="../../../assets/img/MongoDB_Logo.png" alt="">
        </div>
        <div class="my-auto">
            <img class="max-w-24" src="../../../assets/img/postgresql_logo.png" alt="">
        </div>
        <div class="my-auto">
            <img class="max-w-24" src="../../../assets/img/azure_devops_logo.png" alt="">
        </div>
        <div class="my-auto">
            <img class="max-w-24" src="../../../assets/img/typeorm_logo.png" alt="">
        </div>
        <div class="my-auto">
            <img class="max-w-24" src="../../../assets/img/jasmine_logo.png" alt="">
        </div>
        <div class="my-auto">
            <img class="max-w-24" src="../../../assets/img/jest_logo.png" alt="">
        </div>
    </div>

</div>