<div class="h-auto w-6/12 mx-auto white py-14">
    <div class="flex flex-row ">
        <div class="basis-7/12 flex flex-col justify-center items-center">            
            <h1 class="text-3xl font-bold">
                Luis Fernando Guzmán García
            </h1>
            <p>Desarrollador Fullstack</p>
        </div>
        <div class="header-img basis-5/12 flex flex-row justify-center">
            <img class="max-h-40 header-img" src="../../../assets/img/pixel-von.jpeg" alt="">
        </div>
    </div>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
</div>