<div class="container mx-auto">
    <div class="grid grid-cols-6 gap-4">

        <div class="col-start-2 col-end-6 flex color">
            <div class="flex-auto flex justify-center items-center">
                <h1 class="white text-4xl">
                    Luis Fernando Guzman Garcia
                </h1>
            </div>
            <div class="flex-auto flex header-img items-center">
                <img class="max-h-40 header-img" src="../../../assets/img/pixel-von.jpeg" alt="">
            </div>
        </div>
    
        <div class="about col-start-2 col-end-6 flex flex-col mt-11 white">
            <h2 class="text-2xl my-3">About</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repellendus quas placeat vero impedit consequuntur provident nesciunt, deleniti, reiciendis officiis reprehenderit quidem alias molestiae et asperiores cupiditate itaque, ex dolorum.
                Enim ad officiis, non excepturi quaerat commodi aut provident qui nisi nulla libero molestias expedita cupiditate eos sapiente recusandae laboriosam, placeat totam quidem laudantium iste, amet ab vel error. Quo?
            </p>
    
        </div>
    </div>
</div>